---
layout: default
title: Code Base
description: Find tutorials for multiple programming languages and frameworks.
keywords: ['Programming Articles', 'Tips for critical APIs', 'code sharing', 'open source code', 'collection of algorithms']
---
<main class="color-light">
  {% include components/nav.html %}
  <article  itemscope itemtype=http://schema.org/Article>
    <section class="container">
      <h3 itemprop=name class="margin-bottom-1px">{{ page.title }}</h3>
      <h6 id="counter" class="grey-text text-darken-1 margin-left-3px">{{ page.description }}. Currently we hold <span class="red-text timer">{{site.categories['codebase'].size}}</span> programs.</h6>
    </section>

    <section id="post-list" class="container">
      <div class=row>
        <div class="col l12 m12 s12">

          <div class="input-field margin-top-10px">
            <input id="search" type="text" autocomplete="off" placeholder="search">
            <script>
              (function(){
                $('#search').on('keyup', function () {

                  var keywords = $(this).val().split(' ');

                  $('#codebase-list').find('.col').each(function(){
                    var card = $(this);
                    card.hide();

                    $.each(keywords, function(index, word){
                      if(card.text().toLowerCase().indexOf(word.toLowerCase()) !== -1){
                        card.show();
                      }
                    });

                  });
                });
              }());
            </script>
          </div>

        </div>

        <div id="codebase-list" class="col l12 m12 s12">
          <div class="row">

            <div class="col s12 m4">
              <a href="/codebase/all" title="Search Algorithms">
                <div class="card hoverable">
                  <div class="card-image waves-effect waves-block waves-light grey lighten-2">
                    <img src="/assets/img/blog/first-post.jpg">
                  </div>
                  <div class="card-content">
                    <span class="card-title yellow-text text-darken-4">All Programs</span>
                  </div>
                </div>
              </a>
            </div>

            {% capture category_list %}{% for cat in site.categories %}{{ cat[0] }}{% if forloop.last != true%}|{% endif %}{% endfor %}{% endcapture %}
            {% assign sorted_cats = category_list | split:'|' |  sort %}
            {% assign list = 'codebase' %}

            {% for category in sorted_cats %}
              {% for post in site.categories[list] %}

                {% if category == post.categories[1] %}
                  <div class="col s12 m4">
                    <a href="/codebase/{{category}}" title="{{ category | replace:'-',' ' }}">
                      <div class="card hoverable">
                        <div class="card-image waves-effect waves-block waves-light grey lighten-2">
                          <img src="/assets/img/blog/first-post.jpg">
                        </div>
                        <div class="card-content">
                          <span class="card-title yellow-text text-darken-4 capitalize">{{ category | replace:'-',' ' }}</span>
                        </div>
                      </div>
                    </a>
                  </div>
                  {% break %}
                {% endif %}

              {% endfor %}
            {% endfor %}

          </div>
        </div>


      </div>
    </section>

  </article>
</main>
{% include components/footer-small.html %}
