---
layout: default
title: Code Base
description: Collection of algorithms
---
<main class="grey lighten-3">
  {% include components/nav.html %}
  <nav class="teal lighten-2">
    <div class="nav-wrapper container">
      <div class="col s12" itemscope itemtype="http://schema.org/BreadcrumbList">
      <a href="{{ site.baseurl }}{% if page.index != true %}/{% endif %}#" class="breadcrumb"><i class="material-icons">home</i></a>
      <a href="{{ site.baseurl }}{% if page.index != true %}/{% endif %}codebase/#" class="breadcrumb">Code Base</a>
    </div>
    </div>
  </nav>

  <article  itemscope itemtype="http://schema.org/Article">
    <section class="container">
      <h3 itemprop=name class="margin-bottom-1px">{{ page.title }}</h3>
      <h6 class="grey-text text-darken-1 thin margin-left-3px">{{ page.description }}</h6>
    </section>

    <section id="post-list" class="container">
      <div class=row>
        <div class="col l2 m12 s12">

          <div class="row margin-top-10px">
            <div class="input-field col m12 s12">
              <input id="search" type="text" autocomplete="off">
              <label for="search" data-error="wrong" data-success="right" data-default="wrong" ><i class="material-icons">search</i></label>

              <script>
                $('#search').on('keyup', function () {

                  var word = $(this).val();

                  $('#codebase-list .col').each(function(){
                     if($(this).text().toLowerCase().indexOf(word.toLowerCase()) === -1){
                       $(this).hide();
                     } else{
                       $(this).show();
                     }
                  });
                })
              </script>
            </div>
          </div>

        </div>

        <div id="codebase-list" class="col l10 m12 s12">
          <div class="row wow fadeInUp">

            <div class="row">
              {% for post in site.categories['codebase'] %}

                <div class="col s12 m4">
                  <div class="card hoverable">
                    <div class="card-content">
                      <span class="card-title grey-text text-darken-4">{{post.title}}</span>
                      <p>{{ post.description }}</p>
                    </div>
                    <div class="card-action">
                      <a href="{{ site.baseurl }}{{ post.url }}#" class="btn">Read More</a>
                    </div>
                  </div>
                </div>

                {% assign mod = forloop.index | modulo: 3 %}
                {% if mod == 0 %}<div class="clear"></div>{% endif %}
              {% endfor %}
            </div>

          </div>
        </div>


      </div>
    </section>

  </article>
</main>
{% include components/footer-small.html %}
