---
layout: default
title: Code Base
description: Collection of algorithms
---
<main class="color-light">
  {% include components/nav.html %}
  <article  itemscope itemtype=http://schema.org/Article>
    <section class="container">
      <h3 itemprop=name class="margin-bottom-1px">{{ page.title }}</h3>
      <h6 class="grey-text text-darken-1 thin margin-left-3px">{{ page.description }}</h6>
    </section>

    <section id="post-list" class="container">
      <div class=row>
        <div class="col l2 m12 s12">

          <div class="row margin-top-10px">
            <div class="input-field col m12 s12">
              <input id="search" type="text" autocomplete="off">
              <label for="search" data-error="wrong" data-success="right" data-default="wrong" ><i class="material-icons">search</i></label>

              <script>
                (function(){
                  $('#search').on('keyup', function () {

                    var keywords = $(this).val().split(' ');

                    $('#codebase-list').find('.col').each(function(){
                      var card = $(this);
                      card.hide();

                      $.each(keywords, function(index, word){
                        if(card.text().toLowerCase().indexOf(word.toLowerCase()) !== -1){
                          card.show();
                        }
                      });

                    });
                  });
                }());
              </script>

              <p id="counter" class="hide-on-small-and-down">Programs count :: <span class="red-text timer">{{site.categories['codebase'].size}}</span></p>
            </div>
          </div>

        </div>

        <div id="codebase-list" class="col l10 m12 s12">
          <div class="row wow fadeInUp">

            <div class="row">
			        {% assign sorted_posts = (site.categories['codebase'] | sort: 'title') %}
              {% for post in sorted_posts %}

                <div class="col s12 m4">
                  <a href="{{site.baseurl}}{{post.url}}#top">
                  <div class="card hoverable">
                    <div class="card-content">
                      <span class="card-title yellow-text text-darken-4">{{post.title}}</span>
                      <span class="material-icons right blue-text">touch_app</span>
                      <div class="clear"></div>
                      <small class="wow bounceIn black-text">Posted on {{ post.date | date: "%B %-d, %Y" }}</small>
                      <p class="black-text">{{ post.description }}</p>
                    </div>
                  </div>
                  </a>
                </div>

                {% assign mod = forloop.index | modulo: 3 %}
                {% if mod == 0 %}<div class="clear"></div>{% endif %}
              {% endfor %}
            </div>

          </div>
        </div>


      </div>
    </section>

  </article>
</main>
{% include components/footer-small.html %}
