
      <link href="{{site.img}}/favicon.png?v=3" rel="shortcut icon" type="image/png" >

      <link href="{{site.css}}/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
      <link href="{{site.css}}/animate.min.css" type="text/css" rel="stylesheet">
      <link href="{{site.css}}/prism.css" type="text/css" rel="stylesheet">

      <link href="{{site.font}}/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="screen">
      <link href="{{site.font}}/google-material-icons/google-material-icons.css" rel="stylesheet">
      <link href="//fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">

      <link href="{{site.css}}/style.css" type="text/css" rel="stylesheet" media="screen,projection">
