
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <title>{% if page.title %}{{ page.title }} &middot; {{ site.title }}{% else %}{{ site.title }} &middot; {{ site.tagline }}{% endif %}</title>

      <!-- Page meta data -->
      <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml"-->
	    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

      <meta name="description"  property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
      <meta name="keywords" content="{{ site.title }}{% for keyword in page.keywords %}, {{ keyword }}{% endfor %}">
      <meta name="copyright" content="(c) {{ site.time | date: '%Y' }} {{ site.title }}">

      <meta name="author" content="{{ site.author.name }}">

      <!-- Open Graph Tags -->
      <meta property="og:url" content="{{ site.url }}{{ page.url }}">
      <meta property="og:type" content="{{ site.type }}">
      <meta property="og:title" content="{% if page.title %}{{ page.title }} &middot; {{ site.title }}{% else %}{{ site.title }} &middot; {{ site.tagline }}{% endif %}">
      <meta property="og:image" content="{{ site.url }}{{ site.img }}{{ site.logo }}">
      <meta property="og:site_name" content="{{ site.title }}">

      <meta property="fb:admins" content="{{ site.author.fbid }}">
