
          <script src="{{site.js}}/lib.js"></script>
          <script src="{{site.js}}/init.js"></script>

          <script type="text/javascript">
            var disqus_shortname = '{{ site.disqus }}';

            (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
          </script>

           {% if page.categories[0] == 'codebase' or page.categories[0] == 'blog' %}
            <script type="text/javascript">
              (function() {var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;po.src = 'https://apis.google.com/js/plusone.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);})();
            </script>
            {% endif %}

            {% if page.categories[0] == 'codebase' or page.categories[0] == 'blog' %}
            <!--FACEBOOK LIKE-->
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=167521153332522";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
            <!--/FACEBOOK LIKE-->
            {% endif %}

            {% if page.categories[0] == 'codebase' or page.categories[0] == 'blog' %}
            <!--Twitter-->
            <script>window.twttr = (function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
              if (d.getElementById(id)) return t;
              js = d.createElement(s);
              js.id = id;
              js.src = "https://platform.twitter.com/widgets.js";
              fjs.parentNode.insertBefore(js, fjs);

              t._e = [];
              t.ready = function(f) {
                t._e.push(f);
              };

              return t;
            }(document, "script", "twitter-wjs"));</script>
           {% endif %}

