
          <script src="{{site.js}}/lib/jquery.js"></script>
          <script src="{{site.js}}/lib/materialize.js"></script>
          <script src="{{site.js}}/lib/prism/prism.js"></script>
          <script src="{{site.js}}/lib/prism/components/prism-c.min.js"></script>
          <script src="{{site.js}}/lib/prism/components/prism-python.min.js"></script>
          <script src="{{site.js}}/lib/prism/components/prism-sql.min.js"></script>
          <script src="{{site.js}}/lib/prism/components/prism-bash.min.js"></script>
          <script src="{{site.js}}/lib/wow.js"></script>
          <script src="{{site.js}}/lib/smooth-on-scroll.js"></script>
		      <script src="{{site.js}}/lib/jquery.inview.min.js"></script>
          <script src="{{site.js}}/init.js"></script>
