---
layout: codebase
description: Write a function to check whether two given strings are anagram of each other or not. An anagram of a string is another string that contains same characters, only the order of characters can be different.
author: shivaji
keywords: ['anagram implementation using c', 'anagram program', 'program to find given strings are anagram or not']
tags: [C]
---
<div class="container">
  <div class="row">
    <div class="col l9 s12">
      <p><b>Anagram</b> is a word or phrase formed by reordering the letters of another word or phrase, such as <i class="red-text">satin</i> to <i class="red-text">stain</i>.</p>

      <blockquote>Program to find whether two strings are anagrams or not.</blockquote>
    </div>
    <div class="col l3 s12 wow fadeInRight center">
      {% include adsence-box.html %}
    </div>
  </div>
  <div class="clear"></div>
  <div class="row">
    <div class="col m12 s12">
      <h3>Code</h3>
      {% include components/github-code-highlighter.html id="git-anagram" program='src/anagram/anagram.c' repo='codemons/codebase-c' prism='language-c' %}
      <h3>Result</h3>
      <pre><code class="language-c">Enter a string :: hello
Enter another string :: elhlo
'hello' and 'elhlo' are anagrams</code></pre>
    </div>
  </div>
</div>
