---
layout: codebase
description: Program to find whether two strings are anagrams or not
author: shivaji
keywords: ['anagram', 'c program']
tags: [c]
---

<div class="container">
  <div class="row">
    <div class="col l9 s12">
      <p><b>Anagram</b> is a word or phrase formed by reordering the letters of another word or phrase, such as <i class="red-text">satin</i> to <i class="red-text">stain</i>.</p>

      <blockquote><p>{{ page.description }}.</p></blockquote>

    </div>
    <div class="col l3 s12 wow fadeInRight center">
      {% include adsence-box.html %}
    </div>
  </div>
  <div class="clear"></div>
  <div class="row">
    <div class="col m12 s12">
      <h3>Code</h3>
      {% include components/github-code-highlighter.html id="code-anagram" program='anagram/anagram.c' repo='codemons/codebase' prism='language-c' %}
    </div>
  </div>
</div>
