---
layout: codebase
description: Program to compute greatest common divisor. The Greatest common divisor (GCD) of two or more integers (at least one of which is not zero), is the largest positive integer that divides the numbers without a remainder.
author: shivaji
keywords: ['Program to compute greatest common divisor', 'greatest common divisor computed using c program', 'program to find greatest common divisor']
tags : [C]
---
<div class="container">
  <div class="row">
    <div class="col l9 s12">
      <p>The <b>Greatest common divisor</b> (GCD) of two or more integers (at least one of which is not zero), is the largest positive integer that divides the numbers without a remainder.</p>
      <p>For example, the GCD of 8 and 12 is 4.</p>

      <blockquote>Program to compute greatest common divisor.</blockquote>
    </div>
    <div class="col l3 s12 wow fadeInRight center">
      {% include adsence-box.html %}
    </div>
  </div>
  <div class="clear"></div>
  <div class="row">
    <div class="col m12 s12">
      <h3>Code</h3>
      {% include components/github-code-highlighter.html id="git-gcd" program='src/gcd/gcd.c' repo='codemons/codebase-c' prism='language-c' %}
    </div>
  </div>
</div>
