---
layout: codebase
title: Binary Search
author: shivaji
description: Program to perform search on sorted set of numbers using Binary search technique
keywords: ['binary search', 'searching algorithm', 'c program']
tags: [c]
---
<div class="container">
  <div class="row">
    <div class="col l9 s12">
      <p>A <strong>Binary search</strong> locates an item in a sorted array by repeatedly dividing the search interval in half. The initial interval includes the entire array. If the value of the search key is less than the item in the middle of the interval, then the next interval will be the lower half of the current interval. If the value of the search key is greater than the middle item, then the next interval will be the upper half. The search process repeats until the item is found or the search interval is empty.</p>

      <p>Binary Search is an O(log n) algorithm, which is more efficient than a linear search for large arrays.</p>

      <blockquote>{{ page.description }}</blockquote>


    </div>
    <div class="col l3 s12 wow fadeInRight center">
      {% include adsence-box.html %}
    </div>
  </div>
  <div class="clear"></div>
  <div class="row">
    <div class="col m12 s12">
      <h3>Code</h3>
      {% include components/github-code-highlighter.html id="code-c" program='searching-algorithms/binary-search/binary-search.c' repo='codemons/codebase' prism='language-c' %}
    </div>
  </div>
</div>
