---
layout: codebase
title: Random Number Generator
description: Program to generate random number
keywords: ['random number', 'c program']
tags: [c]
---
<div class="container">
  <div class="row">
    <div class="col l9 s12">
      <p>This is C program to generate <strong>Random Number</strong> between 1 and n.</p>

      <blockquote>{{ page.description }}</blockquote>

    </div>
    <div class="col l3 s12 wow fadeInRight center">
      {% include adsence-box.html %}
    </div>
  </div>
  <div class="clear"></div>
  <div class="row">
    <div class="col m12">
      <h3>Code</h3>
      {% include components/codebase-highlighter.html project='c' program='random-number' prismjs='language-c' %}
    </div>
  </div>
</div>
