---
layout: codebase
description: Program to compute greatest common divisor
keywords: ['c program', 'greatest common divisor', gcd, hcf]
tags : [c]
---
<div class="container">
  <div class="row">
    <div class="col l9 s12">
      <p>The <b>Greatest common divisor</b> (GCD) of two or more integers (at least one of which is not zero), is the largest positive integer that divides the numbers without a remainder.</p>
      <p>For example, the GCD of 8 and 12 is 4.</p>

      <blockquote>{{ page.description }}</blockquote>
    </div>
    <div class="col l3 s12 wow fadeInRight center">
      {% include adsence-box.html %}
    </div>
  </div>
  <div class="clear"></div>
  <div class="row">
    <div class="col m12">
      <h3>Code</h3>
      {% include components/codebase-highlighter.html project='c' program='gcd' prismjs='language-c' %}
    </div>
  </div>
</div>
