---
layout: codebase
author: shivaji
description: Program to print spiral matrix
keywords: ['spiral matrix', 'java program']
tags: [Java]
---
<div class="container">
  <div class="row">
    <div class="col l9 s12">
      <p>Program to print spiral matrix.</p>

      <h3>Sample</h3>
      <p>Enter N*N Matrix order :: <b>5</b></p>
      <img src="{{site.img}}/codebase/SprialMatrix.png" class="responsive-img materialboxed">

    </div>
    <div class="col l3 s12 wow fadeInRight center">
      {% include adsence-box.html %}
    </div>
  </div>
  <div class="clear"></div>
  <div class="row">
    <div class="col m12 s12">
      <h3>Code</h3>
      {% include components/github-code-highlighter.html id="code-spiral-matrix" program='src/main/java/SpiralMatrix.java' repo='codemons/codebase-java' prism='language-java' %}
    </div>
  </div>
</div>
