---
layout: codebase
author: shivaji
description: Programs to print different patterns. Like triangle, diamond shapes etc.
keywords: ['printing triangle pattern using c program', 'printing diamond pattern using c program']
tags: [Java]
---
<div class="container">
  <div class="row">
    <div class="col l9 s12">
      <h5>Display the right angled triangle pattern</h5>
      <pre><code>*
**
***
****
*****
******</code></pre>
    </div>
    <div class="col l3 s12 wow fadeInRight center">
      {% include adsence-box.html %}
    </div>
  </div>
  <div class="clear"></div>
  <div class="row">
    <div class="col m12 s12">
      <h3>Code</h3>
      {% include components/github-code-highlighter.html id="code-triangle-left" program='src/display-patterns/right-angled-triangle-left.c' repo='codemons/codebase-c' prism='language-c' %}
    </div>
  </div>


  <div class="row margin-top-15px">
    <div class="col l9 s12">
      <h5>Display the right angled triangle pattern</h5>
      <pre><code>     *
    **
   ***
  ****
 *****
******</code></pre>
    </div>
    <div class="col l3 s12 wow fadeInRight center">
      {% include adsence-box.html %}
    </div>
  </div>
  <div class="clear"></div>
  <div class="row">
    <div class="col m12 s12">
      <h3>Code</h3>
      {% include components/github-code-highlighter.html id="code-triangle-right" program='src/display-patterns/right-angled-triangle-right.c' repo='codemons/codebase-c' prism='language-c' %}
    </div>
  </div>
</div>
