---
layout: codebase
author: shivaji
description: Program to check whether a string is palindrome. A palindrome is a word or phrase which reads the same in both directions. Some simple examples are - RACECAR, DEED,	LEVEL, PIP
keywords: ['Program to check whether a string is palindrome', 'check whether a string is palindrome or not using c program']
tags: [C]
---
<div class="container">
  <div class="row">
    <div class="col l9 s12">
      <p>A palindrome is a word or phrase which reads the same in both directions. Some simple examples are: MALAYALAM, RACECAR, DEED,	LEVEL, PIP</p>
      <p>This is program to check whether a given string is <strong>Palindrome</strong> or not.</p>
      <blockquote>{{ page.description }}</blockquote>

    </div>
    <div class="col l3 s12 wow fadeInRight center">
      {% include adsence-box.html %}
    </div>
  </div>
  <div class="clear"></div>
  <div class="row">
    <div class="col m12 s12">
      <h3>Code</h3>
      {% include components/github-code-highlighter.html id="code-palindrome" program='palindrome/palindrome.c' repo='codemons/codebase' prism='language-c' %}
    </div>
  </div>
</div>
