---
layout: product
title: Age Calculator
---

<div class="container">
  <div class="row">
    <div class="col l9 s12">
      <p>Age Calculator is a Hybrid mobile app developed using Cordova. Boostrap framework for UI development.</p>
      <a href="https://play.google.com/store/apps/details?id=codemons.age_calculator" target="_blank" class="btn">Play Store</a>

      <h5>Version</h5>
      <p>1.6.0</p>

      <h5>Installation</h5>
      <pre><code class="language-bash">$ npm install -g cordova</code></pre>

      <pre><code class="language-bash">$ git clone https://github.com/codemons/age-calculator-cordova.git age-calculator
$ cd age-calculator
$ cordova platform add [android/ios/windows]</code></pre>

      <p>Install platform respective SDK. And then give build.</p>
      <pre><code class="language-bash">$ cordova build</code></pre>
    </div>
    <div class="col l3 s12">
      {% include adsence-responsive.html %}
    </div>
  </div>
</div>

<div class="container">
  <h5>Screenshots</h5>
  <div class="row">
    <div class="col m3 hide-on-small-and-down">
      <img src="{{site.img}}/products/age-calculator/1.png" width="100%" class="materialboxed padding-top-10px">
    </div>
    <div class="col m3 hide-on-small-and-down">
      <img src="{{site.img}}/products/age-calculator/2.png" width="100%" class="materialboxed padding-top-10px">
    </div>
    <div class="col m3 s12">
      <img src="{{site.img}}/products/age-calculator/3.png" width="100%" class="materialboxed padding-top-10px">
    </div>
    <div class="col m3 s12">
      <img src="{{site.img}}/products/age-calculator/4.png" width="100%" class="materialboxed padding-top-10px">
    </div>
  </div>
</div>

<div class="container white">
  {% include components/author-shivaji.html %}
</div>
