---
layout: codebase
author: shivaji
title: Print Z
description: Program to print 'z' of size 'n'.
keywords: ['print z of size n', 'interview programs solved', 'programming challenges']
tags: [Java]
---
<div class="container">
  <div class="row">
    <div class="col l9 s12">
      <p>Given 'n', print the symbol 'Z' spanning n rows using '*' symbol. Value of n>2 and n<=20.</p>
      <h4>Example:</h4>
      <pre><code>1) Input : n=3

Output:
***
 *
***

2) Input n=4

Output:
****
  *
 *
****</code></pre>
    </div>
    <div class="col l3 s12 wow fadeInRight center">
      {% include adsence-box.html %}
    </div>
  </div>
  <div class="clear"></div>
  <div class="row">
    <div class="col m12 s12">
      <h3>Code</h3>
      {% include components/github-code-highlighter.html id="code-printz" program='src/main/java/codemons/codebase/print_z/PrintZ.java' repo='codemons/codebase-java' prism='language-java' %}
    </div>
  </div>
</div>
