---
layout: codebase
author: shivaji
title: Life, the Universe, and Everything
description: Your program is to use the brute-force approach in order to find the Answer to Life, the Universe, and Everything. More precisely... rewrite small numbers from input to output. Stop processing input after reading in the number 42. All numbers at input are integers of one or two digits.
keywords: ['Life, the Universe, and Everything', 'Stop processing input after reading in the number 42','interview programs solved', 'programming challenges']
tags: [Java]
---
<div class="container">
  <div class="row">
    <div class="col l9 s12">
      <p>{{page.description}}</p>
      <h4>Example:</h4>
      <pre class="language-markup"><code>Input:
1
2
88
42
99

Output:
1
2
88</code></pre>

      <blockquote>Please submit your program in below comment section at the bottom of the page. Or send a email to <a href="mailto:{{site.contact-encoded}}">{{site.contact-encoded}}</a></blockquote>
    </div>
    <div class="col l3 s12 wow fadeInRight center">
      {% include adsence-box.html %}
    </div>
  </div>
  <div class="clear"></div>
  <div class="row">
    <div class="col m12 s12">
      <h3>Code</h3>
      {% include components/github-code-highlighter.html id="code-printz" program='src/main/java/codemons/codebase/life_universe_and_everything/LifeUniverseAndEverything.java' repo='codemons/codebase-java' prism='language-java' %}
    </div>
  </div>
</div>
