---
layout: default
title: Blog
description: Get updates from members of the codemons.com community, and get inspired to make better world.
keywords: [blogroll, categories, terms of service, discover, feeds, audio, code, testing, search, editing, scaling, uploads, vip, press, privacy, applications, settings, music]
---
<main class="color-light">
  {% include components/nav.html %}
  <article  itemscope itemtype="http://schema.org/Article">
    <section class="container">
      <h3 itemprop=name>{{ page.title }}</h3>
    </section>

    <div id="post-list" class="container">
      <div class="row">
        {% for post in site.categories['blog'] %}

          <div class="col m8 offset-m2">
            <div class="card hoverable">
              <div class="card-content">
                {% include components/author.html %}
                </div>
              <div class="card-image waves-effect waves-block waves-light grey lighten-2">
                <a href="{{site.baseurl}}{{post.url}}#top">
                  <img class="activator" src="{% if post.img %}{{site.img}}{{post.img}}{% else %}{{post.image}}{% endif %}">
                </a>
                <span class="card-title yellow-text text-darken-4">{{post.title}}</span>
              </div>
              <div class="card-content">
                <p>{{ post.description }}</p>
              </div>
              <div class="card-action">
                <a href="{{site.baseurl}}{{post.url}}#top"><i class="material-icons left">watch_later</i>{{ post.date | date: "%B %-d, %Y" }}</a>
              </div>
            </div>
          </div>

        {% endfor %}
      </div>
    </div>

  </article>
</main>
{% include components/footer-small.html %}
