---
layout: default
title: Products
description: Showcase of few of my works. Do check them out once.
---
<main class="grey lighten-3">
  {% include components/nav.html %}
  <nav class="teal lighten-2">
    <div class="nav-wrapper container">
      <div class="col s12" itemscope itemtype="http://schema.org/BreadcrumbList">
      <a href="{{ site.baseurl }}{% if page.index != true %}/{% endif %}#" class="breadcrumb"><i class="material-icons">home</i></a>
      <a href="{{ site.baseurl }}{% if page.index != true %}/{% endif %}products/#" class="breadcrumb">Products</a>
    </div>
    </div>
  </nav>

  <article  itemscope itemtype="http://schema.org/Article">
    <section class="container">
      <h3 itemprop=name>{{ page.title }}</h3>
    </section>

    <section id="post-list" class="container">
		<div class="row">
		{% for post in site.categories['products'] %}
			
				<div class="col s12 m4">
				  <div class="card medium wow bounceIn hoverable">
					<div class="card-image">
					  <img src="{% if post.img %}{{site.img}}{{post.img}}{% else %}{{post.image}}{% endif %}">
					  <span class="card-title" style="background-color:rgba(0,0,0,0.5)">{{ post.title }}</span>
					  
					</div>
					<div class="card-content">
					  <p>{{ post.description }}</p>
					</div>
					<div class="card-action">
					  <a href="{{ site.baseurl }}{{ post.url }}#" class="btn">Read More</a>
					</div>
				  </div>
				</div>
	
		{% endfor %}
		</div>
	</section>

  </article>
</main>
{% include components/footer-small.html %}