---
layout: default
title: Products
description: Showcase of applications developed by codemons
---
<main class="grey lighten-3">
  {% include components/nav.html %}
  <nav class="teal lighten-2">
    <div class="nav-wrapper container">
      <div class="col s12" itemscope itemtype="http://schema.org/BreadcrumbList">
      <a href="{{ site.baseurl }}{% if page.index != true %}/{% endif %}#" class="breadcrumb"><i class="material-icons">home</i></a>
      <a href="{{ site.baseurl }}{% if page.index != true %}/{% endif %}products/#" class="breadcrumb">Products</a>
    </div>
    </div>
  </nav>

  <article  itemscope itemtype="http://schema.org/Article">
    <section class="container">
      <h3 itemprop=name>{{ page.title }}</h3>
    </section>

    <section id="post-list" class="container">
		<div class="row">
		{% for post in site.categories['products'] %}

				<div class="col s12 m4">
          <div class="card hoverable">
            <div class="card-image waves-effect waves-block waves-light grey lighten-2">
              <img class="activator" src="{% if post.img %}{{site.img}}{{post.img}}{% else %}{{post.image}}{% endif %}">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">{{ post.title }}<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">{{ post.title }}<i class="material-icons right">close</i></span>
              <p>{{ post.description }}</p>
              <p class="margin-right-10px"><a href="{{ site.baseurl }}{{ post.url }}#top" class="btn">Read More</a></p>
            </div>
          </div>
				</div>

		{% endfor %}
		</div>
	</section>

  </article>
</main>
{% include components/footer-small.html %}
