{% if page.author == 'shivaji' %}
<div class="chip">
   <img src="{{site.img}}/team/shivaji-icon.jpg"  alt="{{site.team.shivaji}}" class="wow rotateIn">
   <span class="wow bounceIn">Posted on {{ page.date | date: "%B %-d, %Y" }} by <a target="_blank" href="http://shivajivarma.com/about?rel=author" rel="author">{{site.team.shivaji}}</a></span>
</div>
{% endif %}
{% if post.author == 'shivaji' %}
<div class="chip">
  <img src="{{site.img}}/team/shivaji-icon.jpg"  alt="{{site.team.shivaji}}" class="wow rotateIn">
  <span class="wow bounceIn">Posted on {{ post.date | date: "%B %-d, %Y" }} by <a target="_blank" href="http://shivajivarma.com/about?rel=author" rel="author">{{site.team.shivaji}}</a></span>
</div>
{% endif %}
{% if page.author == 'venky' %}
<div class="chip">
  <img src="{{site.img}}/team/venky-icon.jpg"  alt="{{site.team.venky}}" class="wow rotateIn">
  <span class="wow bounceIn">Posted on {{ page.date | date: "%B %-d, %Y" }} by <a target="_blank" href="http://codemons.com/team" rel="author">{{site.team.venky}}</a></span>
</div>
{% endif %}
{% if post.author == 'venky' %}
<div class="chip">
  <img src="{{site.img}}/team/venky-icon.jpg"  alt="{{site.team.venky}}" class="wow rotateIn">
  <span class="wow bounceIn">Posted on {{ post.date | date: "%B %-d, %Y" }} by <a target="_blank" href="http://codemons.com/team" rel="author">{{site.team.venky}}</a></span>
</div>
{% endif %}
