<pre><code class="{{ include.prismjs }}">loading...</code></pre>
<script>
	$.ajax({
        type: "GET",
        url: "https://raw.githubusercontent.com/shivajivarma/{{ include.project }}/master/{{ include.program }}/program.c",
        async: false,
		success: function(data){
			$('.{{ include.prismjs }}').html(data.replace(/</g,'&lt;').replace(/>/g,'&gt;'));
		},
		error: function(){
			$('.{{ include.prismjs }}').html("Loading failed, please download to view the code.");
		}
    })
</script>
<p>
  <a href="https://github.com/shivajivarma/{{ include.project }}/blob/master/{{ include.program }}/program.c" class="btn black margin-right-10px"><i class="fa fa-github"></i></a>
  <a href="https://raw.githubusercontent.com/shivajivarma/{{ include.project }}/master/{{ include.program }}/program.c" class="btn"><span class="fa fa-download"></span> Download</a>
</p>
