<!--footer id="footer" class="page-footer grey darken-1 scrollspy no-padding" itemscope itemtype="http://schema.org/WPFooter">
  <section class="footer-copyright">
    <div class="container">
      &copy; {{ site.title }} {{ site.time | date: '%Y' }} All right reserved.
    </div>
  </section>
  <a class="back-to-top btn-floating btn-large waves-effect waves-light blue-grey darken-1" href="#body"><i class="mdi-navigation-expand-less"></i></a>
</footer-->

<footer class="white center">
  <a href="#body" class="btn-floating btn-large imary back-to-top waves-effect waves-light red">
    <i class=" mdi-hardware-keyboard-arrow-up"></i>
  </a>
  <div class="container">

    <div class="row">
      <div class="col s12">
        made with <i class="mdi-action-favorite-outline red-text"></i> by {{site.author.name}}
      </div>
    </div>

  </div>
</footer>
