<footer id="footer" class="page-footer grey darken-1 scrollspy" itemscope itemtype="http://schema.org/WPFooter">
  <section class="container">
    <a href="#body" class="btn-floating btn-large imary back-to-top waves-effect waves-light red">
      <i class=" mdi-hardware-keyboard-arrow-up"></i>
    </a>
    <div class="row">
      
	  <div class="col l6 s12">
        <h5 class="white-text"><span class="site-title">{{site.title}}</span> <br><small>{{site.tagline}}</small></h5>
		<ul>
          <li><a class="white-text" href="/login.html">Login</a></li>
          <li><a class="white-text" href="/login.html">Sign Up</a></li>
          <li><a class="white-text" href="/cart.html">Cart</a></li>
        </ul>
      </div>
  
      <div class="col l3 s12">
        <h5 class="white-text">POLICIES</h5>
        <ul>
          <li><a class="white-text modal-trigger" href="#terms-and-conditions">Terms and Conditions</a></li>
          <li><a class="white-text modal-trigger" href="#privacy-statement">Privacy Statement</a></li>
        </ul>
      </div>
	  
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <p><a class="btn-floating social" style="background-color:#3B5998" href="https://www.facebook.com/codemons" target="_blank"><i class="fa fa-facebook"></i></a>
          <a class="btn-floating social" style="background-color:#00ACED" href="https://twitter.com/codemonz" target="_blank"><i class="fa fa-twitter"></i></a>
          <a class="btn-floating social" style="background-color:#DD4B39" href="https://plus.google.com/+CodemonsDotCom" target="_blank"><i class="fa fa-google-plus"></i></a>
        </p>
      </div>
	  
    </div>
  </section>
  <section class="footer-copyright">
    <div class="container">
      &copy; {{ site.title }} {{ site.time | date: '%Y' }} All right reserved.
    </div>
  </section>
</footer>
