<div class="navbar-fixed" role="navigation">

  <nav class="{%if page.index%}teal{%else%}white{%endif%}">
    <div class="nav-wrapper container">
      <a id="logo-container" href="{{site.baseurl}}{% if page.index != true %}/{% endif %}#top" class="brand-logo {%if page.index != true%}teal-text{%endif%}""><img id=header-logo title=Logo src="{{site.img}}/logo.png"/> <span class="site-title">{{site.title}}</span></a>

      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons {%if page.index != true%}teal-text{%endif%}">menu</i></a>
      <ul class="right hide-on-med-and-down">

        <li class="{%if page.title == 'Products'%}active{%endif%}">
          <a href="/products#top" class="{%if page.index != true%}teal-text{%endif%}">Products</a>
        </li>
        <li class="{%if page.title == 'Code Base'%}active{%endif%}">
          <a href="/codebase#top" class="{%if page.index != true%}teal-text{%endif%}">Code Base</a>
        </li>
        <li class="{%if page.title == 'Blog'%}active{%endif%}">
          <a href="/blog#top" class="{%if page.index != true%}teal-text{%endif%}">Blog</a>
        </li>
        <li class="{%if page.title == 'Team'%}active{%endif%}">
          <a href="/about#top" class="{%if page.index != true%}teal-text{%endif%}">About Us</a>
        </li>
        <li class="{%if page.title == 'Team'%}active{%endif%}">
          <a href="/search/" class="{%if page.index != true%}teal-text{%endif%}"><i class="material-icons">search</i></a>
        </li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/products#top"><i class="material-icons left">apps</i>Products</a></li>
        <li><a href="/codebase#top"><i class="material-icons left">code</i>Code Base</a></li>
        <li><a href="/blog#top"><i class="material-icons left">library_books</i> Blog</a></li>
        <li><a href="/about#top"><i class="material-icons left">people</i> About Us</a></li>
        <a href="/search/"><i class="material-icons">search</i> Search</a>
      </ul>
    </div>
  </nav>
</div>
