<section class="section grey lighten-2">
  <div class="container pager">
    <div class="center">
      <h4>Some more things we would like to share...</h4>
    </div>

    <div class="row">
      {% assign flag = false %}
      {% assign micro-site = page.categories[0] %}
      <div class="col m4">&nbsp;
        {% for post in site.categories[micro-site] %}

        {% if flag %}
        <a href="{{ post.url }}" title="Previous Post: {{ post.title }}">
          <div class="card hoverable">
            <div class="card-content">
              <div class="row">
                <div class="col m2">
                  <i class="material-icons medium black-text">keyboard_arrow_left</i>
                </div>
                <div class="col m10">
                  <span class="card-title yellow-text text-darken-4">{{ post.title }}</span>
                  <p class="black-text">{{ post.description }}</p>
                </div>
              </div>

            </div>
          </div>
        </a>
        {% break %}
        {% endif %}

        {% if post.url == page.url %}
        {% assign flag = true %}
        {% endif %}

        {% endfor %}
      </div>

      {% assign flag = false %}
      <div class="col m4 offset-m4">&nbsp;
        {% for post in site.categories[micro-site] reversed %}

        {% if flag %}
        <a href="{{ post.url }}" title="Next Post: {{ post.title }}">
          <div class="card hoverable">
            <div class="card-content">
              <div class="row">
                <div class="col m10">
                  <span class="card-title yellow-text text-darken-4">{{ post.title }}</span>
                  <p class="black-text">{{ post.description }}</p>
                </div>
                <div class="col m2">
                  <i class="material-icons medium black-text">keyboard_arrow_right</i>
                </div>
              </div>

            </div>
          </div>
        </a>
        {% break %}
        {% endif %}

        {% if post.url == page.url %}
        {% assign flag = true %}
        {% endif %}

        {% endfor %}
      </div>
    </div>
  </div>
</section>
