---
layout: default
---

<main class="grey lighten-3">
  {% include components/nav.html %}
  <nav class="teal lighten-2">
    <div class="nav-wrapper container">
      <div class="col s12" itemscope itemtype="http://schema.org/BreadcrumbList">
        <a href="{{ site.baseurl }}{% if page.index != true %}/{% endif %}#" class="breadcrumb"><i class="material-icons">home</i></a>
        <a href="{{ site.baseurl }}{% if page.index != true %}/{% endif %}codebase#" class="breadcrumb">Code Base</a>
        <a href="#" class="breadcrumb">{{ page.title }}</a>
      </div>
    </div>
  </nav>

  <article  itemscope itemtype="http://schema.org/Article">
    <section class="container">
      <h3 itemprop=name>{{ page.title }}</h3>
      {% include components/author.html %}
    </section>

    {{ content }}

  </article>
</main>

<section class="section grey lighten-3">
  <div class="container">
    {% include disqus.html %}
  </div>
</section>

{% include components/footer-small.html %}
