---
layout: default
plugins: ['fblike', 'gplus']
---

<main class="color-light">
  {% include components/nav.html %}
  <nav class="teal lighten-2">
    <div class="nav-wrapper container">
      <div class="col s12" itemscope itemtype="http://schema.org/BreadcrumbList">
        <a href="{{ site.baseurl }}/#top" class="breadcrumb"><i class="material-icons">home</i></a>
        <a href="{{ site.baseurl }}/codebase#top" class="breadcrumb">Code Base</a>
        <a href="#" class="breadcrumb hide-on-small-and-down">{{ page.title }}</a>
      </div>
    </div>
  </nav>

  <article  itemscope itemtype="http://schema.org/Article">
    <section class="container">
      <h3 itemprop=name>{{ page.title }}</h3>
      {% include components/author.html %}
    </section>

    {{ content }}

    {% include components/post-tags.html %}

    <div class="container margin-bottom-10px">
      <!-- Place this tag where you want the +1 button to render. -->
      <div class="left"><div class="g-plusone" data-href="{{ page.url }}"></div></div>

      <!-- facebook like -->
      <div class="fb-like left" data-href="{{ page.url }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
      <div class="clear"></div>
    </div>


    {% include components/pager.html %}
  </article>
</main>

<section class="section color-light">
  <div class="container">
    {% include disqus.html %}
  </div>
</section>

{% include components/footer-small.html %}
