---
layout: default
---

<main class="color-light">
  {% include components/nav.html %}
  <nav class="teal lighten-2">
    <div class="nav-wrapper container">
      <div class="col s12" itemscope itemtype="http://schema.org/BreadcrumbList">
        <a href="{{ site.baseurl }}/#top" class="breadcrumb"><i class="material-icons">home</i></a>
        <a href="{{ site.baseurl }}/codebase#top" class="breadcrumb">Code Base</a>
        <a href="#" class="breadcrumb hide-on-small-and-down">{{ page.title }}</a>
      </div>
    </div>
  </nav>

  <article  itemscope itemtype="http://schema.org/Article">
    <section class="container">
      <h3 itemprop=name>{{ page.title }}</h3>
      {% include components/author.html %}
    </section>

    {{ content }}

    <section class="section grey lighten-2">
      <div class="container pager">
        <div class="center">
          <h4>Some more things we would like to share...</h4>
        </div>

        <div class="row">
          {% assign flag = false %}
          {% assign micro-site = page.categories[0] %}
          <div class="col m4">&nbsp;
            {% for post in site.categories[micro-site] %}

              {% if flag %}
                <a href="{{ post.url }}" title="Previous Post: {{ post.title }}">
                  <div class="card hoverable">
                    <div class="card-content">
                      <div class="row">
                        <div class="col m2">
                          <i class="material-icons medium black-text">keyboard_arrow_left</i>
                        </div>
                        <div class="col m10">
                          <span class="card-title yellow-text text-darken-4">{{ post.title }}</span>
                          <p class="black-text">{{ post.description }}</p>
                        </div>
                      </div>

                    </div>
                  </div>
                </a>
                {% break %}
              {% endif %}

              {% if post.url == page.url %}
                {% assign flag = true %}
              {% endif %}

            {% endfor %}
          </div>

          {% assign flag = false %}
          <div class="col m4 offset-m4">&nbsp;
            {% for post in site.categories[micro-site] reversed %}

              {% if flag %}
                <a href="{{ post.url }}" title="Next Post: {{ post.title }}">
                  <div class="card hoverable">
                    <div class="card-content">
                      <div class="row">
                        <div class="col m10">
                          <span class="card-title yellow-text text-darken-4">{{ post.title }}</span>
                          <p class="black-text">{{ post.description }}</p>
                        </div>
                        <div class="col m2">
                          <i class="material-icons medium black-text">keyboard_arrow_right</i>
                        </div>
                      </div>

                    </div>
                  </div>
                </a>
                {% break %}
              {% endif %}

              {% if post.url == page.url %}
                {% assign flag = true %}
              {% endif %}

            {% endfor %}
          </div>
        </div>
      </div>
    </section>
  </article>
</main>

<section class="section color-light">
  <div class="container">
    {% include disqus.html %}
  </div>
</section>

{% include components/footer-small.html %}
