<!DOCTYPE html>
<html lang="en">

<head>
  {% include head-meta.html %}
  {% include head-imports.html %}
  {% if page.mobileads %}
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-3120721550776061",
      enable_page_level_ads: true
    });
  </script>
  {% endif %}
</head>

<body id=top class="scrollspy" itemscope itemtype="http://schema.org/WebPage">

{{content}}

{% include scripts.html %}
{% include google-analytics.html %}
</body>

</html>
